<div class="admin_middle_content">
    <div class="Add_Song mb-5">
        <h2>Create new song</h2>
        <form>
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 50px">Id</th>
                        <th>Name</th>
                        <th>Artist</th>
                        <th>Image</th>
                        <th>Debut Year</th>
                        <th>Short desciption</th>
                        <th>-</th>
                    </tr>
                </thead>
                <tbody class="add_table_body">
                    <tr class="song_input_1">
                        <td class="p-1">
                            <input type="text" disabled required maxlength="50" />
                        </td>
                        <td class="p-1">
                            <input class="song_input_name_1" type="text" required maxlength="50" />
                        </td>
                        <td class="p-1">
                            <input class="song_input_author_1" value="{{artist}}" type="text" disabled required maxlength="50" />
                            Click <a style="color: blue;" onclick="chooseArtist(1)"> here </a> to
                            choose Artist
                        </td>
                        <td class="p-1">
                            <input type="file" class="song_input_audio_1" required maxlength="50" />
                        </td>
                        <td class="p-1">
                            <input type="text" class="song_input_year_1" required maxlength="50" />
                        </td>
                        <td class="p-1">
                            <textarea class="song_input_desc_1" cols="30" rows="10"></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
            <button class="btn btn-secondary p-1 add_1_line" type="button">
                +1 song
            </button>
            <button class="btn btn-primary p-1 btn_song_upload" type="button" data-toggle="modal" data-target="#submitAddSong">
                Submit
            </button>
        </form>
    </div>
    <div>
        <h2>Manage songs</h2>
        <form>
            <table class="table" style="font-size: 14px">
                <thead>
                    <tr>
                        <th class="p-2" style="width: 200px">
                            Id
                        </th>
                        <th class="p-2">
                            Name
                        </th>
                        <th class="p-2">
                            Artist
                        </th>
                        <th class="p-2" style="width: 100px">
                            Views
                        </th>
                        <th class="p-2" style="width: 100px">
                            Date create
                        </th>
                        <th class="p-2">Action</th>
                    </tr>
                </thead>
                <tbody class="list_table_body">

                </tbody>
            </table>
        </form>
    </div>
</div>
<script>
    let page = {{ page }}
    let pageSize = {{ size }}
    let elementRow = (i) => {
        return `<tr class="song_input_` + i + `" >
                        <td class="p-1">
                            <input type="text" disabled required maxlength="50" />
                        </td>
                        <td class="p-1">
                            <input class="song_input_name_`+ i + `" type="text" required maxlength="50" />
                        </td>
                        <td class="p-1">
                            <input class="song_input_author_`+ i + `" type="text" disabled required maxlength="50" />
                            Click <a style="color: blue;" onclick="chooseArtist(`+ i + `)"> here </a> to
                            choose Artist
                        </td>
                        <td class="p-1">
                            <input type="file" class="song_input_audio_`+ i + `" required maxlength="50" />
                        </td>
                        <td class="p-1">
                            <input type="text" class="song_input_year_`+ i + `" required maxlength="50" />
                        </td>
                        <td class="p-1">
                            <textarea class="song_input_desc_`+ i + `" cols="30" rows="10"></textarea>
                        </td>
                    </tr>`}
    function reloadSongManage() {
        fetch('/api/song?page=' + page + '&size=' + pageSize, {
            headers: {
                "Content-Type": "application/json; charset=utf-8"
            }
        }).then(data => data.json()).then(data => {
            $(".list_table_body").empty()
            data.forEach(e => {
                let artist = e.artist.map(q => { return q.name }).join(', ');
                let date = new Date(e.createdAt);
                date = date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear();
                let songRow = `<tr>
                        <td class="p-1">
                            <input type="text" disabled maxlength="50" value="`+ e._id + `" />
                        </td>
                        <td class="p-1">
                            <input type="text" disabled maxlength="50" value="`+ e.title + `" />
                        </td>
                        <td class="p-1">
                            <input type="text" disabled maxlength="50" value="`+ artist + `"/>
                        </td>
                        <td class="p-1">`+ e.view + `</td>
                        <td class="p-1">`+ date + `</td>

                        <td class="p-1 table_action">
                            <button class="btn action_play fa-solid fa-play" title="Play Audio" type="button" onclick="changeSongPlay(this,{
                                id: '`+ e._id + `',
                                title: '`+ e.title + `',
                                file: '/audio/`+ e.link + `',
                                author: '`+ artist + `',
                                img: '/image/`+ e.artist[0].image.squareImage + `'
                            })"></button>
                            <button class="btn action_edit fa-solid fa-pen-to-square" title="Edit detail of song"
                                type="button" onclick="window.location.href='/manage/song/`+ e._id+`'"></button>
                            <button class="btn action_delete fa-solid fa-trash" onclick="deleteSong('`+ e.title + `','`+ e._id + `')" title="Delete artist" type="button"></button>
                        </td>
                    </tr>`
                $(".list_table_body").append(songRow)
            })

        })
    }
    $(document).ready(() => {
        reloadSongManage()
    })
</script>