<div class="middle__bar p-0 m-0">
    <input id="currentTimeSong" type="range" min="0" max="1000" value="0" />
    <div class="middle__bar__control m-0">
        <div class="bar__song">
            <img src="/image/square.png" alt="Graceful" class="bar__song_img" />
            <div class="bar__song__title">
                <span class="bar__song__name">Chúc bạn làm việc vui vẻ</span>
                <span class="bar__song__author">Graceful</span>
            </div>
        </div>

        <div class="bar__control">
            <div class="bar__control__prev">
                <i class="fa-solid fa-backward-step fa-2xl"></i>
            </div>
            <div class="bar__control__play">
                <div class="play_circle">
                    <i class="fa-solid fa-play fa-xs current_play"></i>
                </div>
            </div>
            <div class="bar__control__next">
                <i class="fa-solid fa-forward-step fa-2xl"></i>
            </div>
        </div>
        <div class="bar__setting">
            <div class="bar__setting__volume">
                <i class="fa-solid fa-volume-high fa-xl volume_icon" style="width: 30px"></i>
            </div>
            <input id="volume" type="range" min="0" max="100" value="100" />
        </div>
    </div>
</div>