<div class="col-2 right">
    <div class="lyrics" style="min-height: 250px;">
        <div class="lyrics__title">
        </div>
        <div class="lyrics__content">
            <span class="lyrics__content--active lyrics_run_1"></span>
            <span class="lyrics__content--prepare-0 lyrics_run_2"></span>
            <span class="lyrics__content--prepare-0 lyrics_run_3"></span>
            <span class="lyrics__content--prepare-1 lyrics_run_4"></span>
            <span class="lyrics__content--prepare-1 lyrics_run_5"></span>
            <span class="lyrics__content--prepare-2 lyrics_run_6"></span>
        </div>
        <span class="lyrics__content--prepare-3">...</span>
        <!-- <div class="lyrics__toall">xem thêm...</div> -->
    </div>
    <div class="tabs tabs__friends">
        <div class="tabs__title">
            <i class="fa-solid fa-headphones"></i> Queue
        </div>
        <div class="righbar_queue">

        </div>
    </div>
</div>